
.sticky li a{
  text-decoration:none;
  color:#000;
  background:#FFE633;
  display:block;
  height:20%;
  width:150%;
  padding:5%;
  -o-transform:rotate(7deg);
  -webkit-transform:rotate(14deg);
  -moz-transform:rotate(4deg);
}
.sticky li{
  margin:10%;
  float:left;
  list-style:none;
}

.sticky li:nth-child(even) a{
  -o-transform:rotate(7deg);
  -webkit-transform:rotate(-14deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:30%;
  background:#8AEBF3;
}

.sticky li:nth-child(3n) a{
  -o-transform:rotate(-9deg);
  -webkit-transform:rotate(12deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-30%;
  background:#8AF3B9;
 
}

.sticky li a:hover,.sticky li a:focus{
  -moz-box-shadow:30% 30% 15% rgba(0,0,0,.7);
  -webkit-box-shadow: 30% 30% 15% rgba(0,0,0,.7);
  box-shadow:30% 30% 15% rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}
